html, body {
    height: 100%;
}
body {
  background-color: lightblue;
  display: table-cell;
  vertical-align: text-top;
}
html {
    display: table;
    margin: auto;
}
input {
    line-height: 2.5em;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}